// CODE_GENERATOR: assembly
package assembly

import (
{{- if .UsesContext }}
	"context"
{{- end }}
	appCtx "wechat-clone/core/context"
{{- if .UsesConfig }}
	"wechat-clone/core/shared/config"
{{- end }}
{{- if .IsHTTP }}
	infrahttp "wechat-clone/core/shared/transport/http"
{{- else }}
	modruntime "wechat-clone/core/shared/runtime"
{{- end }}
)

func {{.FunctionName}}({{.Signature}}) ({{.ReturnType}}, error) {
	return {{.ImplFunctionName}}({{.Arguments}})
}
