// CODE_GENERATOR: handler
package {{.PackageName}}

import (
	"errors"
	"{{.BusImport}}"
	"{{.RequestDtoImport}}"
	"go-socket/core/shared/pkg/logging"
	stackerr "go-socket/core/shared/pkg/stackErr"

	"github.com/gin-gonic/gin"
	"go.uber.org/zap"
)

type {{.StructName}} struct {
	{{.BusField}} {{.BusPackage}}.Bus
}

func New{{.HandlerName}}({{.BusField}} {{.BusPackage}}.Bus) *{{.StructName}} {
	return &{{.StructName}}{
		{{.BusField}}: {{.BusField}},
	}
}

func (h *{{.StructName}}) Handle(c *gin.Context) (interface{}, error) {
	ctx := c.Request.Context()
	logger := logging.FromContext(ctx)
	var request in.{{.RequestStruct}}
{{- if eq .Method "GET"}}
	if err := c.ShouldBindQuery(&request); err != nil {
{{- else}}
	if err := c.ShouldBindJSON(&request); err != nil {
{{- end}}
		logger.Errorw("Unmarshal request failed", zap.Error(err))
		return nil, stackerr.Error(err)
	}
	if err := request.Validate(); err != nil {
		logger.Errorw("Validate request failed", zap.Error(err))
		return nil, stackerr.Error(errors.New("validate request failed"))
	}
	result, err := h.{{.BusField}}.{{.UsecaseMethod}}.Dispatch(ctx, &request)
	if err != nil {
		logger.Errorw("{{.UsecaseMethod}} failed", zap.Error(err))
		return nil, stackerr.Error(errors.New("{{.UsecaseMethod}} failed"))
	}
	return result, nil
}
