// CODE_GENERATOR: registry
package {{.PackageName}}

import (
	"context"

	"{{.RequestDtoImport}}"
	"{{.ResponseDtoImport}}"
	{{.ModuleHTTPAlias}} "{{.ModuleHTTPImport}}"
	"{{.DispatcherImport}}"
	infrahttp "{{.HTTPImport}}"

	"github.com/gin-gonic/gin"
)

type {{.ServerStructName}} struct {
{{- range .Fields}}
	{{.Name}} cqrs.Dispatcher[{{.RequestType}}, {{.ResponseType}}]
{{- end}}
}

func NewHTTPServer(
{{- range .Fields}}
	{{.Name}} cqrs.Dispatcher[{{.RequestType}}, {{.ResponseType}}],
{{- end}}
) (infrahttp.HTTPServer, error) {
	return &{{.ServerStructName}}{
{{- range .Fields}}
		{{.Name}}: {{.Name}},
{{- end}}
	}, nil
}

func (s *{{.ServerStructName}}) RegisterPublicRoutes(routes *gin.RouterGroup) {
	{{.ModuleHTTPAlias}}.RegisterPublicRoutes(routes{{- range .PublicParams}}, s.{{.Name}}{{- end}})
}

func (s *{{.ServerStructName}}) RegisterPrivateRoutes(routes *gin.RouterGroup) {
	{{.ModuleHTTPAlias}}.RegisterPrivateRoutes(routes{{- range .PrivateParams}}, s.{{.Name}}{{- end}})
}

func (s *{{.ServerStructName}}) Stop(_ context.Context) error {
	return nil
}
