// CODE_GENERATOR: routing
package {{.PackageName}}

import (
	"github.com/gin-gonic/gin"
)

type RoutingHandler interface {
	RegisterPublicHandlers(routes *gin.RouterGroup)
	RegisterPrivateHandlers(routes *gin.RouterGroup)
	Handle() gin.HandlerFunc
}

func (h *routingHandler) RegisterPublicHandlers(routes *gin.RouterGroup) {
{{- range .PublicRoutes}}
{{.}}
{{- end}}
}

func (h *routingHandler) RegisterPrivateHandlers(routes *gin.RouterGroup) {
{{- range .PrivateRoutes}}
{{.}}
{{- end}}
}
